/* CSS HEX */
:root {
    --thistle: #CEBAE1;
    --wisteria: #9fa4ea;
    --silver-lake-blue: #5684C2;
    --cool-gray: #8A95BF;
    --fairy-tale: #99b5f0;
    --pale-purple: #EAD5E3;
    --glaucous: #768FBE;
    --silver-lake-blue-2: #5D88C5;
    --bubble-gum: #4667c8;
    --dark-blue: #1d3761;
    --white: white;
    --headercol: #3A74EE;
  }
  
  