/* CSS HEX */
:root {
    --thistle: #CEBAE1;
    --wisteria: #BBA9E4;
    --silver-lake-blue: #5684C2;
    --cool-gray: #8A95BF;
    --fairy-tale: #F3C6D3;
    --pale-purple: #EAD5E3;
    --glaucous: #768FBE;
    --silver-lake-blue-2: #5D88C5;
    --bubble-gum: #e66b77;
    --dark-blue: #1d3761;
    --white: white;
  }
  
  