@import url('./colors.css');

.desc {
    margin-top: 50px;
    margin-bottom: 300px;
    line-height: 2;
  }

  .top-image {
    display: block;         
    margin: 0 auto;         
    max-width: 100%;        
    height: auto;           
}

.desc p {
  margin: 40px;
}
