.custom-navbar {
  background-color: rgb(244, 236, 236) !important;
  color: aliceblue;
  height: 70px;
  padding: 10px 20px;
}

.custom-search {
  border-radius: 50px;
}

/* Change button color */
.custom-btn {
  background-color: #d75a69; /* Green color */
  color: white; /* Text color */
  border: none; /* Remove border */
  transition: 0.3s;
  border-radius: 50px;
}

.custom-btn:hover {
  background-color: #ef7171; /* Darker green on hover */
}

.navbar-brand {
  color: rgb(98, 5, 23);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

.navbar-nav .nav-item {
  white-space: nowrap; /* Prevent text wrapping */
  display: inline-flex; /* Ensure inline display */
  align-items: center; /* Vertical alignment */
}

