@import url('./colors.css');

.custom-navbar {
  background-color: var(--wisteria) !important;
  height: 70px;
  padding: 10px 20px;
}

.custom-navbar .navbar-nav {
  gap: 30px;  
}

.custom-search {
  border-radius: 50px;
}

.custom-btn {
  background-color: var(--bubble-gum); 
  color: white; 
  border: none; 
  border-radius: 50px;
}

.custom-btn:hover {
  background-color: var(--fairy-tale); 
}

.navbar-brand {
  color: var(--dark-blue);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

.navbar-nav .nav-item {
  white-space: nowrap; 
  display: inline-flex; 
  align-items: center; 
}


