@import url('./colors.css');

.custom-navbar {
  background-color: var(--silver-lake-blue) !important;
  color: rgb(255, 246, 240);
  height: 70px;
  padding: 10px 20px;
}

.custom-navbar .navbar-nav {
  gap: 30px;  
}

.custom-search {
  border-radius: 50px;
}

/* Change button color */
.custom-btn {
  background-color: var(--bubble-gum); /* Green color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 50px;
}

.custom-btn:hover {
  background-color: var(--fairy-tale); /*hover */
}

.navbar-brand {
  color: var(--pale-purple);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

.navbar-nav .nav-item {
  white-space: nowrap; /* Prevent text wrapping */
  display: inline-flex; /* Ensure inline display */
  align-items: center; /* Vertical alignment */
}


