{% extends "base.html" %} {% load static %}

{% block content%}

<!-- Link BASE css file -->
<link rel="stylesheet" type="text/css" href="{% static 'css/gettingstarted.css' %}" />

<!-- about container -->
<div class="container about">
    <div class="row">
        <div class="col text">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>About <i>Artist Alley Guide</i></h1>
            <br>
            <p>
                Artist Alley Guide is website created by Rachelle Phipps for Human Computer Interaction CS 5053. Its purpose is to have a central website for artists applying for artist alleys at conventions and to help the process be more seamless.
        
            <hr>
            When I began to apply to conventions to sell my artwork, I found that, although there was a lot of information from other artists, most of it was scattered around. There was also the problem of having to dig through different convention websites to find when to apply, what they accept, etc. 
            To resolve this, I created <b>Artist Alley Guide</b> to collect all the information an artist needs to find and table at a convention.
            </p>
        </div>
        <div class="col photo">
          <img src="{% static 'images/about.png' %}" alt="creator" class="self-image">
        </div>
      </div>
</div>
{% endblock %}

