{% extends "base.html" %} {% load static %} {% block content %}
<!-- FAQ page, just pure html and bootstrap needed here -->
<div class="container faq">
  <h1>FAQ <i class="bi bi-question-circle-fill"></i></h1>
  <br />
  <h2>Artist Alley Guide</h2>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          What is “Artist Alley Guide”?
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body">
          Artist Alley Guide is a website designed to help artists looking for
          conventions to sell their artwork in an artist alley. It contains
          information about over 100 conventions and their details regarding
          acceptance to sell.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo"
        >
          How can I utilize this site?
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo"
      >
        <div class="accordion-body">
          This website allows users to search for a convention by name, date,
          and number of attendees. Clicking on a convention will take the user
          to a special page for that convention detailing its location, about
          the convention itself, how to apply, and more. Logged-in users are
          able to leave comments and ratings on conventions they have attended
          as well as favorite conventions for later.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree"
        >
          Can I add a convention?
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree"
      >
        <div class="accordion-body">
          Currently, this feature is not available for users to add new
          conventions not already located in the database.
        </div>
      </div>
    </div>
  </div>
  <br />

  <h2>Artist Alley</h2>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour"
          aria-expanded="false"
          aria-controls="flush-collapseFour"
        >
          What is an “Artist Alley”?
        </button>
      </h2>
      <div
        id="flush-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <b
            >An artist alley is a designated area at conventions for artists to
            sell their own artwork and merchandise.</b
          >
          This can range from digital art, handcrafts, prints, apparel, and much
          more. Usually many artists have a mixture of original work and fan-art
          from existing media.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive"
          aria-expanded="false"
          aria-controls="flush-collapseFive"
        >
          What does it take to enter an Artist Alley?
        </button>
      </h2>
      <div
        id="flush-collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <b
            >Many conventions have different criteria when it comes to
            acceptance into an artist alley.</b
          >
          The most common are,
          <ul>
            <li>Juried</li>
            <li>Random</li>
            <li>First-come First Serve</li>
            <li>Mixed</li>
          </ul>
          Juried is when a panel of people decide which artist applications make
          the cut to be in the conventions artist alley. Random is when random
          applications are chosen to be accepted. First-come First Serve is when
          a convention approves artists as they apply. Mixed is when some
          conventions have a mixture of the above when it comes to accepting
          applications.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix"
          aria-expanded="false"
          aria-controls="flush-collapseSix"
        >
          Do I need to have professional experience in art to enter?
        </button>
      </h2>
      <div
        id="flush-collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSix"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <b>No!</b> Most conventions are very accepting of many skill-levels
          and strive to have a diverse set of sellers in their alley. The most
          important experience in selling at an alley is having your products
          ready to sell, your booth set, and ready to connect with convention
          attendees.
        </div>
      </div>
    </div>
  </div>

  <br />
  <h2>Conventions</h2>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSeven"
          aria-expanded="false"
          aria-controls="flush-collapseSeven"
        >
          What are conventions?
        </button>
      </h2>
      <div
        id="flush-collapseSeven"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSeven"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Conventions are events where fans of a particular topic/interest
          gather to participate and hold programs. Most are organized by fans on
          a not-for-profit basis in their city. They host contests, panels,
          games, artist alley, actor signing, and general fan events. Main
          conventions are Comic, Anime, Video Game, Horror, etc
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEight">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseEight"
          aria-expanded="false"
          aria-controls="flush-collapseEight"
        >
          I am not an artist, can I still attend a convention?
        </button>
      </h2>
      <div
        id="flush-collapseEight"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingEight"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Yes! Conventions are intended for fans of all kinds whether you are a
          seller or just a regular attendee.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingNine">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseNine"
          aria-expanded="false"
          aria-controls="flush-collapseNine"
        >
          Can I create an account even though I do not plan to join an artist
          alley?
        </button>
      </h2>
      <div
        id="flush-collapseNine"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingNine"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Yes! This website not only functions as a resource for artists but
          also for convention attendees interested in finding specific artists
          or information about artist alleys to explore.
        </div>
      </div>
    </div>
  </div>


  <br />
  <h2>Website</h2>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTen">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTen"
          aria-expanded="false"
          aria-controls="flush-collapseTen"
        >
        I have questions about the site! Where do I contact you?
        </button>
      </h2>
      <div
        id="flush-collapseTen"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTen"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
            Please contact me at rachelle (dot) s (dot) phipps (at) gmail. Thank you!
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEleven">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseEleven"
          aria-expanded="false"
          aria-controls="flush-collapseEleven"
        >
        I have feedback on how to improve the site? Do you have a form to enter this feedback?
        </button>
      </h2>
      <div
        id="flush-collapseEleven"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingEleven"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
            There is currently no form to add feedback to, however feel free to email me any concerns you have.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwelve">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwelve"
          aria-expanded="false"
          aria-controls="flush-collapseTwelve"
        >
        Do you plan to add more conventions in the future?
        </button>
      </h2>
      <div
        id="flush-collapseTwelve"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwelve"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
            As this project is currently solely for educational purposes, there are currently no plans for more updated conventions or information. 
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
