<footer>
    <div class="footer-content">
        <h3>Artist Alley Guide</h3>
        <p>Artist Alley Guide is a website for artists looking to find their next artist alley. Look up conventions in your area, filter, and find all the information you need for your next </p>
    </div>
    <div class="footer-bottom">
        <p>Made with ❤️ by Rachelle Phipps for HCI CS-5053</p>
                <div class="footer-menu">
                  <ul class="f-menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                  </ul>
                </div>
    </div>

</footer>