{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link header css file -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/footer.css' %}"
    />
  </head>

  <body>
    <!-- Footer -->
    <footer
      class="text-center text-white foot-container"
    >
      <div class="container">
        <section class="mt-5">
          <div class="row text-center justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'gettingStarted' %}" class="text-white">Get Started</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'about' %}" class="text-white">About</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'faq' %}" class="text-white">FAQ</a>
              </h6>
            </div>
          </div>
        </section>

        <hr class="my-5" />

        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Artist Alley Guide is a website for artists looking to find
                their next artist alley. Look up conventions in your area,
                filter, and find all the information you need for your next
                event here.
              </p>
            </div>
          </div>
        </section>
      </div>

      <div
        class="text-center p-3"
        style="background-color: rgba(168, 25, 25, 0.2)"
      >
        Made with ❤️ by Rachelle Phipps for HCI CS-5053
      </div>
    </footer>
  </body>
</html>
