{% extends "base.html" %} {% load static %}

{% block content%}

<!-- Link BASE css file -->
<link rel="stylesheet" type="text/css" href="{% static 'css/gettingstarted.css' %}" />

<div class="container desc" style="text-align: center;">

    <img src="{% static 'images/gettingstarted1.png' %}" alt="top image of page" class="top-image">

    <section id="introduction">
        <h1>Interested in being an artist at a convention’s artist alley? <br>  Not sure where to start? </h1>
        <p>
            A lot of artists wish to pursue making income from their art. Many artists sell their work at conventions in artist alleys. Here an artist can sell prints, fanart,merchandise, and much more to have revenue. There are conventions happening all over the world nearly all year so there’s always something to go to!
        </p>
    </section>

    <section id="ready-to-sell">
        <h2>How do I know I am ready to sell?
        </h2>
        Many artists will say that once you start applying to conventions and being accepted, you are ready artistically wise. However, there are also a lot more needed materials other than creating art. Most artists work through marketing, buying stock, and looking for shows rather than drawing. An important guide to know when you are ready is to have a catalog of art as well as stock to sell at least 4 items per hour at a convention. 

        </p>
    </section>

    <section id="stock">
        <h2>How much stock do I need?</h2>
        <p>
            How much stock you need likely will depend on what exactly you are selling. For example, selling prints might call for a different amount of stock vs enamel pins. You must also consider cost vs selling price. Selling a large amount of stock for a low price when you can purchase it cheaply might be better than purchasing more expensive stock. As compared to art, this side of being an artist depends on more business than art.

        </p>
    </section>

    <section id="More-info">
        <h2>How else can I find more information?</h2>
        <p>There are many great artists who post their experiences online on several different platforms. Check out the videos below for more information from experienced artists:
        </p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/WBimuLgaghY?si=gJKAtxbJTcQgRONh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/tx3WBhuBDak?si=_G8Pu33UJq84TX1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gmTpKQf5DHs?si=iJEjGWoXe3sKYhlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
        <iframe width="560" height="315" src="https://www.youtube.com/embed/g7M7ycp-l94?si=DHXo672goZPopgWD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>



</div>

{% endblock %}

