{% extends "base.html" %} {% load static %} {% block content%}

  <!--Home image -->
  <div class="container home-container">
    <div class="card bg-dark text-white custom-card">
      <img
        class="card-img"
        src="{% static 'images/home.png' %}"
        alt="Card image"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Find Your Next Alley Here</h5>
      </div>
    </div>
  </div>

  <!--card options-->
  <div class="container-fluid con0">
    <div class="container upcoming-con">
      <h1>Upcoming conventions</h1>
      <p>Looking for the lastest conventions?</p>
    <div class="row">
        {% for con in upcoming_cons %}
            <div class="col-md-4">
                <div class="card mb-4 shadow" style="width: 18rem;">
                    <!-- Add the image here -->
                    <img src="{{ con.image.url }}" class="card-img-top" alt="{{ con.name }}">
                    
                    <div class="card-body">
                        <h2><a href="{% url 'con_detail' con.slug %}">{{ con.name }}</a></h2>
                        <p class="card-location">{{ con.city }}, {{ con.state }}</p>
                        <p class="card-con_date">{{ con.con_date }}</p>
                        <p class="card-website">
                            <a href="{{ con.website }}" target="_blank" rel="noopener noreferrer">{{ con.website }}</a>
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No conventions found.</p>
        {% endfor %}
    </div>
    </div>
</div>

  <!--card options-->
  <div class="container-fluid con1">
    <div class="container upcoming-con">
      <h1>Upcoming Anime conventions</h1>
    <div class="row">
        {% for con in upcoming_cons %}
            <div class="col-md-4">
                <div class="card mb-4 shadow" style="width: 18rem;">
                    <!-- Add the image here -->
                    <img src="https://64.media.tumblr.com/65938db36252f993b453d6b82340bc1e/tumblr_oxa07a6Jic1r2zf9ko1_1280.jpg" class="card-img-top" alt="{{ con.name }}">
                    
                    <div class="card-body">
                        <h2><a href="{% url 'con_detail' con.slug %}">{{ con.name }}</a></h2>
                        <p class="card-location">{{ con.city }}, {{ con.state }}</p>
                        <p class="card-con_date">{{ con.con_date }}</p>
                        <p class="card-website">
                            <a href="{{ con.website }}" target="_blank" rel="noopener noreferrer">{{ con.website }}</a>
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No conventions found.</p>
        {% endfor %}
    </div>
    </div>
</div>

   <!--card options-->
   <div class="container-fluid con2">
    <div class="container upcoming-con">
      <h1>Upcoming Anime conventions</h1>
    <div class="row">
        {% for con in upcoming_cons %}
            <div class="col-md-4">
                <div class="card mb-4 shadow" style="width: 18rem;">
                    <!-- Add the image here -->
                    <img src="https://64.media.tumblr.com/65938db36252f993b453d6b82340bc1e/tumblr_oxa07a6Jic1r2zf9ko1_1280.jpg" class="card-img-top" alt="{{ con.name }}">
                    
                    <div class="card-body">
                        <h2><a href="{% url 'con_detail' con.slug %}">{{ con.name }}</a></h2>
                        <p class="card-location">{{ con.city }}, {{ con.state }}</p>
                        <p class="card-con_date">{{ con.con_date }}</p>
                        <p class="card-website">
                            <a href="{{ con.website }}" target="_blank" rel="noopener noreferrer">{{ con.website }}</a>
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No conventions found.</p>
        {% endfor %}
    </div>
    </div>
</div>


  <!--card options-->
  <div class="container-fluid con1">
    <div class="container upcoming-con">
      <h1>Upcoming Anime conventions</h1>
    <div class="row">
        {% for con in upcoming_cons %}
            <div class="col-md-4">
                <div class="card mb-4 shadow" style="width: 18rem;">
                    <!-- Add the image here -->
                    <img src="https://64.media.tumblr.com/65938db36252f993b453d6b82340bc1e/tumblr_oxa07a6Jic1r2zf9ko1_1280.jpg" class="card-img-top" alt="{{ con.name }}">
                    
                    <div class="card-body">
                        <h2><a href="{% url 'con_detail' con.slug %}">{{ con.name }}</a></h2>
                        <p class="card-location">{{ con.city }}, {{ con.state }}</p>
                        <p class="card-con_date">{{ con.con_date }}</p>
                        <p class="card-website">
                            <a href="{{ con.website }}" target="_blank" rel="noopener noreferrer">{{ con.website }}</a>
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No conventions found.</p>
        {% endfor %}
    </div>
    </div>
</div>

   <!--card options-->
   <div class="container-fluid con2">
    <div class="container upcoming-con">
      <h1>Upcoming Anime conventions</h1>
    <div class="row">
        {% for con in upcoming_cons %}
            <div class="col-md-4">
                <div class="card mb-4 shadow" style="width: 18rem;">
                    <!-- Add the image here -->
                    <img src="https://64.media.tumblr.com/65938db36252f993b453d6b82340bc1e/tumblr_oxa07a6Jic1r2zf9ko1_1280.jpg" class="card-img-top" alt="{{ con.name }}">
                    
                    <div class="card-body">
                        <h2><a href="{% url 'con_detail' con.slug %}">{{ con.name }}</a></h2>
                        <p class="card-location">{{ con.city }}, {{ con.state }}</p>
                        <p class="card-con_date">{{ con.con_date }}</p>
                        <p class="card-website">
                            <a href="{{ con.website }}" target="_blank" rel="noopener noreferrer">{{ con.website }}</a>
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No conventions found.</p>
        {% endfor %}
    </div>
    </div>
</div>


{% endblock %}
